{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div id="content" class="colM">
  
  <h1>Réinitialisation du mot de passe</h1>

  <p>Si un compte existe avec l'email que vous avez entré, vous devriez recevoir un email avec les instruction pour réinitialiser votre mot de passe.</p>
  
  <p>Si vous ne recevez pas de mails, vérifiez que vous avez rentré la bonne addresse associée à votre compte</p>
</div>
{% endblock %}
