[uwsgi]
plugin	        =       python3
chdir           =       /var/www/Thunes/
module          =       Thunes.wsgi

uid             =       www-data
gid             =       www-data


master          =       true
processes       =       4

socket          =       /var/www/Thunes/WebUtils/Thunes.sock
chmod-socket	=       777

home            =       /var/www/Thunes/.env
vacuum          =       true
