{% extends "base.html" %}

{% load bootstrap4 %}
{% load icons %}
{% block title %} Balance {% endblock %}

{% block content %}
<h2>Finances du groupe {{group.name}}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Utilisateur</td>
      <td>Solde</td>
    </tr>
  </thead>
  {% for user, solde in balance.items %}
    <tr>
      <td><a href="">{{ user }}</a></td>
      <td>{{ solde|floatformat:2 }}</td>
    </tr>
  {% endfor %}
</table>

<a href="{% url "MyMoney:new-expense" gid %}"> {% bootstrap_button "Nouvelle dépense" button_type="link" %} </a>
<a href="{% url "MyMoney:index-expense" gid %}"> {% bootstrap_button "Historique des dépenses" button_type="link" %} </a>

<h2>Remboursements</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Transaction</td>
			<td>Montant</td>
			<td>Action</td>
		</tr>
	</thead>
	{% for trans in transactions %}
	{% if trans.2 > 0.005 %}
		<tr>
			<td><a href="">{{ trans.0 }}</a> {%icon "long-arrow-alt-right" %} <a href="">{{ trans.1 }}</a></td>
			<td>{{ trans.2|floatformat:2 }}</td>
			<td><a href="{% url "MyMoney:rembourser" gid trans.0 trans.1 %}"> {% bootstrap_button "Rembourser" button_type="link" %} </a></td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

{% endblock %}
