{% extends "base.html" %}

{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block title %} Balance {% endblock %}

{% block content %}
<h2>Finances du groupe {{group.name}}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Utilisateur</td>
      <td>Solde</td>
    </tr>
  </thead>
  {% for username, solde in balance.items %}
    <tr>
      <td><a href="">{{ username }}</a></td>
      <td>{{ solde | floatformat:2 }} €</td>
    </tr>
  {% endfor %}
</table>

<a href="{% url "MyMoney:new-expense" group.id %}">
  {% bootstrap_button "Nouvelle dépense" button_type="link" %}
</a>
<a href="{% url "MyMoney:index-expense" group.id %}">
  {% bootstrap_button "Historique des dépenses" button_type="link" %}
</a>

<h2>Remboursements</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Transaction</td>
      <td>Montant</td>
      <td>Action</td>
    </tr>
  </thead>
  {% for trans in transactions %}
  {% if trans.2 > 0.005 %}
  <tr>
    <td>
      <a href="">{{ trans.0 }}</a>
      {% bs_icon 'arrow-right' %}
      <a href="">{{ trans.1 }}</a>
    </td>
    <td>
      {{ trans.2|floatformat:2 }} €
    </td>
    <td>
      <a href="{% url "MyMoney:rembourser" group.id trans.0 trans.1 %}">
        {% bootstrap_button "Rembourser" button_type="link" %}
      </a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

{% if notifications %}
<h2>Notifications</h2>
<table class="table table-striped">
  {% for hook in hooks %}
  <tr>
    <td>
      {{ hook.name }}
    </td>
    <td>
      <small><span class="text-muted">https://discord.com/api/webhooks/</span><strong>{{ hook.snowflake }}</strong><span class="text-muted">/</span><strong>{{ hook.token }}</strong></small>
    </td>
    <td>
      <form action="{% url "Notifications:delete" hook.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer" class="btn btn-danger"></input>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<form action="{% url "Notifications:create" %}" method="post">
  {% csrf_token %}
  {% bootstrap_form hook_form layout="horizontal" %}
  <input type="submit" value="Nouveau" class="btn btn-primary"></input>
</form>
{% endif %}
{% endblock %}
