{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}


{% block title %}Ajouter une dépense{% endblock %}

{% block content %}
<h2>Ajouter une dépense pour le groupe {{group.name}} </h2>

<form class="form" method="post">
{% bootstrap_form expense_form %}


{% csrf_token %}
{% bootstrap_formset_errors share_formset %}

<h2> Shares : </h2>
<div class="row">
  {% for share in share_formset.forms %}
  <tr>
    <!-- <p>Part de {{ share.owner.get_username }} </p> -->
    <div class="col-xs-12 col-sm-4 col-md-3" style="margin-top:1em">
      {% bootstrap_form share  %}
    </div>
  </tr>
  {% endfor %}
</div>

{% bootstrap_button "Submit" button_type="submit" button_class='btn-success' %}
</form>

{% endblock %}
