{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Dépenses favorites de {{group}} {% endblock %}

{% block content %}
<h2>Dépenses favorites de {{group}}</h2>
<a href="{% url "MyMoney:balance" gid %}"> {% bootstrap_button "Retour au groupe" button_type="link" %} </a>
<div >
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Nom</th>
      <th>Emetteur</th>
      <th>Description</th>
      <th>Valeur</th>
      <th>Devise</th>
      <th>Parts</th>
    </tr>
    </thead>
    {% for expense in expense_list %}
    <tr>
      <td>{{ expense.date }}</td>
      <td>{{ expense.name }}</td>
      <td>{{ expense.origin }}</td>
      <td>{{ expense.description }}</td>
      <td>{{ expense.value }}</td>
      <td>{{ expense.currency }}</td>
      <td>{% for share in expense.share_set.all %}
	<li>{{ share.owner }} : {{ share.value }} </li>
	{% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
