{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load mathfilters %}




{% block title %}Historique des dépenses de {{ group }} {% endblock %}

{% block content %}

<style type="text/css">
  .table-nostriped tbody tr:nth-of-type(odd) {
      background-color:transparent;
  }

  div.scrollable {
      word-wrap: break-word;
      max-width: 160px;
      max-height: 160px;
      margin: 0;
      padding: 0;
      overflow: auto;
  }
</style>


<h2>Historique des dépenses de {{group}}</h2>
<a href="{% url "MyMoney:balance" gid %}"> {% bootstrap_button "Retour au groupe" button_type="link" %} </a>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th class="text-center">Nom</th>
      <th>Emetteur</th>
      <th>Description</th>
      <th>Valeur</th>
      <th class="text-center">Parts</th>
    </tr>
    </thead>
    <tbody>
    {% for expense, total in expense_total %}
    <tr>
      <td class="text-nowrap">{{ expense.date }}</td>
      <td><div class="scrollable">{{ expense.name }}</div></td>
      <td>{{ expense.origin }}</td>
      <td><div class="scrollable">{{ expense.description }}</div></td>
      <td class="text-nowrap">{{ expense.value }} {{ expense.currency.symbol }}</td>
      <td class="text-nowrap">
	<div class="table-responsive">
	  <table class="table-borderless table-nostriped">
	    <tbody>
	      {% for share in expense.share_set.all %}
	      <tr>
		{% if share.value != 0 %}
		<td>{{ share.owner }}</td>
		<td class="text-nowrap">
		  {{ expense.value | mul:share.value|div:total | floatformat:2}}
		  {{ expense.currency.symbol }}
		</td>
		<td>{{ share.value }}</td>
		{% endif %}
		{% endfor %}
	      </tr>
	    </tbody>
	  </table>
	</div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
