{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} Users {% endblock %}

{% block content %}
<h2>Liste des utilisateurs</h2>

<div class="container">
  {% if not users %}
  <div class="row">
    Il n'y a encore aucun utilisateur
  </div>
  {% else %}
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom d'utilisateur</th>
            <th>Groupes</th>
            <th>Date de création</th>
            <th>Dernière connexion</th>
          </tr>
        </thead>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>
            {{ user.groups.all | join:', ' }}
          </td>
          <td>{{ user.date_joined }}</td>
          <td>{{ user.last_login | default:'' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    {% if request.user.is_superuser %}
    <a class="mx-auto" href="{% url 'Users:create_user' %}"> {% bootstrap_button "Créer un utilisateur" button_type="link" %} </a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}