{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} Users {% endblock %}

{% block content %}
<h2>Liste des groupes</h2>

  <a href="{% url "Users:create_group" %}"> {% bootstrap_button "Créer un groupe" button_type="link" %} </a>


{% if not groups %}

Vous n'êtes actuellement dans aucun groupe

{% else %}


<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
	<td>Nom du groupe</td>
	<td>Membres</td>
      </tr>
    </thead>
    {% for group in groups %}
    <tr>
    </tr>
    <tr>
      <td>
	<a href="{% url 'MyMoney:balance' group.id %}" class="nav-link"> {{ group.name }}</a>
      </td>
      <td>
	{% if not group.user_set.all %}
	<ul> Ce groupe n'a aucun membre </ul>
	{% else %}
	{% for user in group.user_set.all %}
	<li> {{ user }} </li>
	{% endfor %}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

{% endif %}
{% endblock %}
