{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load icons %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>{% block title %}Thunes !!{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav">
	<li class="nav-item dropdown">
	  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> {% icon "users" %} Utilisateurs</a>
	  <ul class="dropdown-menu">
	    <a class="dropdown-item" href="{% url 'Users:users' %}">Utilisateurs</a>
	    <a class="dropdown-item" href="{% url 'Users:groups' %}">Groupes</a>
	  </ul>
	</li>
      </ul>
      {% endif %}
      <ul class="navbar-nav ml-auto"
	      <li class="nav-item">
		{% if request.user.is_authenticated %}
		{% if request.user.is_superuser %}

		  <a class='nav-link' href="{% url "Users:create_user" %}"> Créer un utilisateur </a>
		  {% endif %}
		
	      <li class="nav-item">
		<a class="nav-link" href="#"> Bienvenue {{ user.get_username }} </a>
	      </li>
		<a class="nav-link" href="{% url 'logout' %}">{% icon "sign-out-alt"%} Logout </a>
		{% else %}
		<a class="nav-link" href="{% url 'login' %}">{% icon "sign-in-alt" %} Login </a>
		{% endif %}
	      </li>
      </ul>
    </nav>
    </br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>
